{% extends 'squality/base/layout.html' %}

{% load static %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ project.name }}</h1>
</div>

<div class="container">
  <a href="{% url 'index' %}" class="btn btn-info"><i class="bi-house"></i></a>
  <a href="{% url 'scoring' project.id %}" class="btn btn-secondary">Back: Network Clustering</a>
  <h2 class="col mt-2">Summary</h2>
  <p class="font-monospace"><strong>No of Classes: </strong>{{project_classes}}</p>
  <p class="font-monospace"><strong>No of Methods: </strong>{{ project_methods.nco__sum }}</p>
  <p class="font-monospace"><strong>Lines of Code: </strong>{{ project_loc.loc__sum }}</p>
  <hr>
  <h3>Metric-based</h3>
  <div class="row">
    {% for x in scoring_metric %}
    <div class="col">
      <img src="{{ '/files/radar_' }}{{ x.algo }}.png" class="img-fluid" alt="">
    </div>
      {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM &darr;</th>
              <th scope="col">WCBM &darr;</th>
              <th scope="col">ACBM &darr;</th>
              <th scope="col">NCAM &uarr;</th>
              <th scope="col">IMC &uarr;</th>
              <th scope="col">NMO &darr;</th>
              <th scope="col">TRM &darr;</th>
              <th scope="col">MLOC &darr;</th>
              <th scope="col">MNOC &darr;</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for ms in scoring_metric %}
            <tr>
              <td>{{ ms.algo }}</td>
              <td>{{ ms.cbm }}</td>
              <td>{{ ms.wcbm }}</td>
              <td>{{ ms.acbm }}</td>
              <td>{{ ms.ncam }}</td>
              <td>{{ ms.imc }}</td>
              <td>{{ ms.nmo }}</td>
              <td>{{ ms.trm }}</td>
              <td>{{ ms.mloc }}</td>
              <td>{{ ms.mnoc }}</td>
              <td>{{ ms.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>

  <h3>Network-based</h3>
  <div class="row">
    {% for x in scoring_network %}
    <div class="col">
      <img src="{{ '/files/radar_' }}{{ x.algo }}.png" class="img-fluid" alt="">
    </div>
      {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM &darr;</th>
              <th scope="col">WCBM &darr;</th>
              <th scope="col">ACBM &darr;</th>
              <th scope="col">NCAM &uarr;</th>
              <th scope="col">IMC &uarr;</th>
              <th scope="col">NMO &darr;</th>
              <th scope="col">TRM &darr;</th>
              <th scope="col">MLOC &darr;</th>
              <th scope="col">MNOC &darr;</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for ms in scoring_network %}
            <tr>
              <td>{{ ms.algo }}</td>
              <td>{{ ms.cbm }}</td>
              <td>{{ ms.wcbm }}</td>
              <td>{{ ms.acbm }}</td>
              <td>{{ ms.ncam }}</td>
              <td>{{ ms.imc }}</td>
              <td>{{ ms.nmo }}</td>
              <td>{{ ms.trm }}</td>
              <td>{{ ms.mloc }}</td>
              <td>{{ ms.mnoc }}</td>
              <td>{{ ms.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <h3>Overall</h3>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM &darr;</th>
              <th scope="col">WCBM &darr;</th>
              <th scope="col">ACBM &darr;</th>
              <th scope="col">NCAM &uarr;</th>
              <th scope="col">IMC &uarr;</th>
              <th scope="col">NMO &darr;</th>
              <th scope="col">TRM &darr;</th>
              <th scope="col">MLOC &darr;</th>
              <th scope="col">MNOC &darr;</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for ms in scoring_overall %}
            <tr>
              <td>{{ ms.algo }}</td>
              <td>{{ ms.cbm }}</td>
              <td>{{ ms.wcbm }}</td>
              <td>{{ ms.acbm }}</td>
              <td>{{ ms.ncam }}</td>
              <td>{{ ms.imc }}</td>
              <td>{{ ms.nmo }}</td>
              <td>{{ ms.trm }}</td>
              <td>{{ ms.mloc }}</td>
              <td>{{ ms.mnoc }}</td>
              <td>{{ ms.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}