{% extends 'v2/base/layout.html' %}

{% load static %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">{{ project.name }}</h2>
</div>

<div class="container">
    <a href="{% url 'v2_index' %}" class="btn btn-info"><i class="bi-house"></i></a>

    <h2>Import</h2>

    <div class="row pb-4">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Qualitascorpus Class Data</h5>
          <div class="card-body">
              {% if corpus_metric_file %}
              <h5 class="card-title">Uploaded file</h5>
              <p class="card-text">Filename: <a href="{{ corpus_metric_file.fileurl }}" download>{{ corpus_metric_file.filename }}</a></p>
              <p class="card-text">Uploaded: {{ corpus_metric_file.created_at }}</p>
              <p class="card-text">Processing time: {{ corpus_metric_file.processing_time }} seconds</p>
              {% endif %}
            <form class="row g-3" action="{% url 'v2_corpus_upload' project.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
              <div class="col-auto">
                  <input class="form-control form-control-sm" type="file" name="cupload" accept=".xml">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary btn-sm">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <h5 class="card-header">Structure101 Data*</h5>
            <div class="card-body">
                {% if s101_metric_file %}
                <h5 class="card-title">Uploaded file</h5>
                <p class="card-text">Filename: <a href="{{ s101_metric_file.fileurl }}" download>{{ s101_metric_file.filename }}</a></p>
                <p class="card-text">Uploaded: {{ s101_metric_file.created_at }}</p>
                <p class="card-text">Processing time: {{ s101_metric_file.processing_time }} seconds</p>
                {% endif %}
              <form class="row g-3" action="{% url 'v2_s101_upload' project.id %}" enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                <div class="col-auto">
                    <input class="form-control form-control-sm" type="file" name="s101upload" accept=".csv">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-outline-primary btn-sm">Upload</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="col col-6">
        <div class="card">
          <h5 class="card-header">Complete Data</h5>
          <div class="card-body">
              {% if complete_metric_file %}
              <h5 class="card-title">Uploaded file</h5>
              <p class="card-text">Filename: <a href="{{ complete_metric_file.fileurl }}" download>{{ complete_metric_file.filename }}</a></p>
              <p class="card-text">Uploaded: {{ complete_metric_file.created_at }}</p>
              <p class="card-text">Processing time: {{ complete_metric_file.processing_time }} seconds</p>
              {% endif %}
            <form class="row g-3" action="{% url 'v2_complete_upload' project.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
              <div class="col-auto">
                  <input class="form-control form-control-sm" type="file" name="comupload" accept=".csv">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary btn-sm">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row pt-4 pb-5">
      {% if btn_state != 'disabled' %}
        <a href="{% url 'v2_project_clean' project.id %}" class="btn btn-secondary">Next: Data Cleaning</a>
      {% endif %}
    </div>

</div>

  

{% endblock %}