{% extends 'v2/base/layout.html' %}

{% load static %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ project.name }}</h1>
</div>

<div class="container">
  <a href="{% url 'v2_index' %}" class="btn btn-info"><i class="bi-house"></i></a>
  <a href="{% url 'v2_scoring' project.id %}" class="btn btn-secondary">Back: Scoring</a>
  <h2 class="col mt-2">Summary</h2>
  <div class="row">
    <div class="col col-3">
      <p class="font-monospace"><strong>No of Classes: </strong>{{project_classes}}</p>
      <p class="font-monospace"><strong>No of Methods: </strong>{{ project_methods.nco__sum }}</p>
      <p class="font-monospace"><strong>Lines of Code: </strong>{{ project_loc.loc__sum }}</p>
    </div>
    <div class="col">

    </div>
  </div>

  <!-- TOPSIS SCORING -->
  <h3>TOPSIS</h3>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM</th>
              <th scope="col">WCBM</th>
              <th scope="col">ACBM</th>
              <th scope="col">NCAM</th>
              <th scope="col">IMC</th>
              <th scope="col">NMO</th>
              <th scope="col">TRM</th>
              <th scope="col">MLOC</th>
              <th scope="col">MNOC</th>
              <th scope="col">MCD</th>
              <th scope="col">TOPSIS SCORE</th>
            </tr>
          </thead>
          <tbody>
            {% for st in scoring_topsis %}
            <tr>
              <td>{{ st.algo }}</td>

              <td>{{ st.cbm }}</td>
              <td>{{ st.wcbm }}</td>
              <td>{{ st.acbm }}</td>
              <td>{{ st.ncam }}</td>
              <td>{{ st.imc }}</td>
              <td>{{ st.nmo }}</td>
              <td>{{ st.trm }}</td>
              <td>{{ st.mloc }}</td>
              <td>{{ st.mnoc }}</td>
              <td>{{ st.mcd }}</td>
              
              <td>{{ st.topsis_score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- <hr>
  <h3>Metric-based</h3>
  <div class="row">
    {% for x in scoring_metric_median %}
    <div class="col">
      <img src="{{ '/files/v2_radar_' }}{{ x.algo }}.png" class="img-fluid" alt="">
    </div>
      {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM</th>
              <th scope="col">WCBM</th>
              <th scope="col">ACBM</th>
              <th scope="col">NCAM</th>
              <th scope="col">IMC</th>
              <th scope="col">NMO</th>
              <th scope="col">TRM</th>
              <th scope="col">MLOC</th>
              <th scope="col">MNOC</th>
              <th scope="col">MCD</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for ms in scoring_metric_median %}
            <tr>
              <td>{{ ms.algo }}</td>

              {% if ms.cbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.wcbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.acbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.ncam > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.imc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.nmo > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.trm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.mloc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.mnoc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.mcd > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              <td>{{ ms.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>

  <h3>Network-based</h3>
  <div class="row">
    {% for x in scoring_network_median %}
    <div class="col">
      <img src="{{ '/files/v2_radar_' }}{{ x.algo }}.png" class="img-fluid" alt="">
    </div>
      {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM</th>
              <th scope="col">WCBM</th>
              <th scope="col">ACBM</th>
              <th scope="col">NCAM</th>
              <th scope="col">IMC</th>
              <th scope="col">NMO</th>
              <th scope="col">TRM</th>
              <th scope="col">MLOC</th>
              <th scope="col">MNOC</th>
              <th scope="col">MCD</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for ms in scoring_network_median %}
            <tr>
              <td>{{ ms.algo }}</td>

              {% if ms.cbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.wcbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.acbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.ncam > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.imc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.nmo > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.trm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.mloc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.mnoc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.mcd > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              <td>{{ ms.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div> 

  <hr> -->

  <h3>Overall</h3>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Algo</th>
              <th scope="col">CBM</th>
              <th scope="col">WCBM</th>
              <th scope="col">ACBM</th>
              <th scope="col">NCAM</th>
              <th scope="col">IMC</th>
              <th scope="col">NMO</th>
              <th scope="col">TRM</th>
              <th scope="col">MLOC</th>
              <th scope="col">MNOC</th>
              <th scope="col">MCD</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for ms in scoring_overall_median %}
            <tr>
              <td>{{ ms.algo }}</td>

              {% if ms.cbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.wcbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.acbm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.ncam > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.imc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.nmo > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.trm > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.mloc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              {% if ms.mnoc > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}
              
              {% if ms.mcd > 0 %}
              <td>1</td>
              {% else %}
              <td>0</td>
              {% endif %}

              <td>{{ ms.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}